h1{
    color :rgb(127, 14, 233);
    margin-left: 100px;
}


/*{
    border : solid;

}*/

h2, p{
   text-align: center;
}



.header{
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mail{
    display: flex;
    justify-content: flex-end;
}

body{
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
}

.menu{
    margin-left: 150px;
}

.menu a{
    margin-left: 20px;
}

a:link{
    color: cornflowerblue;
}

a:visited{
    color: rgb(11, 141, 28);
}

.smallbox{
    position: relative;
}

.smallbox p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.smallbox:hover p {
  opacity: 1;
}

.smallbox:hover img {
    opacity: 0.5;
}